<h2>Eventos</h2>
<hr>

<div  class="form-inline">
  <div class="form-group mb-2">
    <label for="" class="mr-2">Filtro:</label>
    <input type="text" class="form-control mr-2" placeholder="buscar"
    [(ngModel)]="filtroLista">
  </div>
</div>



<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <td >
        <button class="btn btn-outline btn-light btn-sm" (click)="toggleImage()">{{!showImage ? 'Mostrar':'Ocultar'}}</button>
      </td>
      <td>#</td>
      <td>Tema</td>
      <td>Local</td>
      <td>Data</td>
      <td>Qtd Pessoas</td>
      <td>Lote</td>
      <td>Opções</td>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length > 0">
    <tr *ngFor="let evento of eventosFiltrados">
      <td><img  [collapse]="!showImage" [isAnimated]="true" src="/assets/{{getImagePath(evento.imageURL)}}" alt="" [style.width.px]="imageWidth" [style.margin.px]="imageMargin"></td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
     <td colspan="8" class="text-center"><h4>Nenhum evento encontrado</h4></td>
    </tr>
  </tfoot>
</table>
